$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$fuente_principal: "Poppins", sans-serif;

//colores
$cian: #a9d6cb;
$azul_oscuro: #264065;
$gris: #909090;
