footer {
  position: relative;
  img.modelo {
    position: absolute;
    top: -1065px;
    bottom: 100%; /* La sube justo por encima del inicio del footer */
    right: 5px; /* La mueve a la derecha */
    z-index: 10;
  }
}
