.contenedor {
  display: flex;
  gap: 100px;
  align-items: center;
}

.navegador {
  color: $azul_oscuro;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 18px;

    a {
      text-decoration: none;
      color: inherit;
      padding: 10px 20px;
    }

    .submenu {
      position: relative;

      ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        gap: 10px;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 10;
      }

      &:hover > ul {
        display: flex;
      }
      a {
        display: inline-flex;
        align-items: center;
        gap: 5px;
        line-height: 1;
      }
    }
  }
}

.navegador a:hover {
  background-color: $azul_oscuro;
  color: white;
  border-radius: 32px;
}

.navegador2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;

  a.inicio,
  a.registro {
    color: $azul_oscuro;
    padding: 20px 40px;
  }

  .ultimos {
    margin-left: 100px;
  }
}

.navegador2 a.inicio:hover,
a.registro:hover {
  background-color: $azul_oscuro;
  color: white;
  border-radius: 32px;
  text-decoration: none;
}
