.contenedor {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  .navegador {
    padding-left: 80px;
    padding-right: 100px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 36px;
      align-items: center;

      a {
        text-decoration: none;
        color: inherit;
        padding: 8px 20px;
        border-radius: 32px;
        background-color: transparent;
        transition:
          background-color 0.3s ease,
          color 0.3s ease;
        display: inline-block;
      }

      a:hover {
        color: white;
        background-color: $azul_oscuro;
      }

      .submenu {
        position: relative;

        ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          flex-direction: column;
          gap: 10px;
          background-color: #fff;
          padding: 20px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          z-index: 10;

          a {
            padding: 5px 10px;
            width: 100%;
          }
        }

        &:hover > ul {
          display: flex;
        }

        > a {
          display: inline-flex;
          align-items: center;
          gap: 5px;
          line-height: 1;
        }
      }
    }
  }

  .navegador2 {
    display: flex;
    align-items: center;
    gap: 40px;

    .bolsa,
    .lupa {
      padding: 8px 20px;
      background-color: transparent;
    }

    .bolsa {
      margin-right: 120px;
    }

    .bolsa:hover,
    .lupa:hover {
      background-color: $azul_oscuro;
      border-radius: 32px;
      img {
        filter: brightness(0) invert(1);
      }
    }
    a {
      color: $azul_oscuro;
      padding: 8px 20px;
    }
    a:hover {
      background-color: $azul_oscuro;
      text-decoration: none;
      color: white;
      border-radius: 32px;
    }
  }
}
