@import "animations";
@import "reset";
@import "typography";

body {
  margin: 40px 100px;
  background-color: #faf8f5;
}

body::before {
  content: "";
  background-color: $cian;
  width: 40%;
  height: 800px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url(../../img/agabe_fondo.svg);
  background-repeat: no-repeat;
  background-position: -100px 50px;
  background-size: 80%;
}
